.title,
.text {
  text-align: center;
}

.title {
  font-weight: 700;
}
.text {
  font-size: 12px;
}

.image-wrapper {
  padding: 0 40px;
  height: 140px;
  img {
    max-height: 140px;
    width: 100%;
  }
}
