.stack-item {
  margin-bottom: 30px;
  .title,
  .text {
    text-align: center;
  }

  .title {
    margin-top: -10px;
    font-weight: 700;
  }
  .text {
    font-size: 12px;
  }

  .image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 20px;
    height: 140px;
    img {
      max-height: 100%;
      max-width: 100%;
    }
  }
}
