<form [formGroup]="form" (ngSubmit)="onSubmitForm()">
  <div class="container">
    <div class="row">
      <div
        class="col-12 offset-sm-2 col-sm-8 offset-md-3 col-md-7 col-lg-6 col-xl-5"
      >
        <label for="title"> {{ "SECURE.SHOW.FORM.TITLE" | translate }}</label>
        <input
          class="form-control"
          id="title"
          type="text"
          formControlName="title"
        />
      </div>
    </div>
    <div class="row">
      <div
        class="col-12 offset-sm-2 col-sm-8 offset-md-3 col-md-7 col-lg-6 col-xl-5"
      >
        <label for="description">
          {{ "SECURE.SHOW.FORM.DESCRIPTION" | translate }}</label
        >
        <textarea
          class="form-control"
          id="description"
          type="text"
          formControlName="description"
          rows="4"
        ></textarea>
      </div>
    </div>
    <hr class="mt-4" />
    <div class="row">
      <div
        class="col-12 offset-sm-2 col-sm-8 offset-md-3 col-md-7 col-lg-6 col-xl-5"
      >
        <label for="author"> {{ "SECURE.SHOW.FORM.AUTHOR" | translate }}</label>
        <input
          class="form-control"
          id="author"
          type="text"
          formControlName="author"
        />
      </div>
    </div>
    <div class="row">
      <div
        class="col-12 offset-sm-2 col-sm-8 offset-md-3 col-md-7 col-lg-6 col-xl-5"
      >
        <label for="email"> {{ "SECURE.SHOW.FORM.EMAIL" | translate }}</label>
        <input
          class="form-control"
          id="email"
          type="text"
          formControlName="email"
        />
      </div>
    </div>
    <div class="row">
      <div
        class="col-12 offset-sm-2 col-sm-8 offset-md-3 col-md-7 col-lg-6 col-xl-5"
      >
        <label for="copyright">
          {{ "SECURE.SHOW.FORM.COPYRIGHT" | translate }}</label
        >
        <input
          class="form-control"
          id="copyright"
          type="text"
          formControlName="copyright"
        />
      </div>
    </div>
    <div class="row">
      <div
        class="col-12 offset-sm-2 col-sm-8 offset-md-3 col-md-7 col-lg-6 col-xl-5"
      >
        <label for="language">{{
          "SECURE.SHOW.FORM.LANGUAGE" | translate
        }}</label>
        <input
          class="form-control"
          id="language"
          type="text"
          formControlName="language"
        />
      </div>
    </div>
    <hr class="mt-4" />
    <div class="row">
      <div
        class="col-12 offset-sm-2 col-sm-8 offset-md-3 col-md-7 col-lg-6 col-xl-5"
      >
        <label for="category">{{
          "SECURE.SHOW.FORM.CATEGORY" | translate
        }}</label>
        <input
          class="form-control"
          id="category"
          type="text"
          formControlName="category"
        />
      </div>
    </div>
    <div class="row">
      <div
        class="col-12 offset-sm-2 col-sm-8 offset-md-3 col-md-7 col-lg-6 col-xl-5"
      >
        <label for="subCategory">{{
          "SECURE.SHOW.FORM.SUB_CATEGORY" | translate
        }}</label>
        <input
          class="form-control"
          id="subCategory"
          type="text"
          formControlName="subCategory"
        />
      </div>
    </div>
    <div class="row">
      <div
        class="col-12 offset-sm-2 col-sm-8 offset-md-3 col-md-7 col-lg-6 col-xl-5"
      >
        <label for="keywords">{{
          "SECURE.SHOW.FORM.KEYWORDS" | translate
        }}</label>
        <input
          class="form-control"
          id="keywords"
          type="text"
          formControlName="keywords"
        />
      </div>
    </div>
    <div class="row">
      <div
        class="col-12 offset-sm-2 col-sm-8 offset-md-3 col-md-7 col-lg-6 col-xl-5"
      >
        <label for="explicit">
          {{ "SECURE.SHOW.FORM.EXPLICIT" | translate }}</label
        >
        <input type="checkbox" id="explicit" formControlName="explicit" />
      </div>
    </div>
    <div class="row mt-4">
      <div
        class="col-12 offset-sm-2 col-sm-8 offset-md-3 col-md-7 col-lg-6 col-xl-5 buttons"
      >
        <button type="button" class="btn btn-light me-1">
          {{ "SECURE.SHOW.FORM.CANCEL" | translate }}
        </button>
        <button type="submit" class="btn btn-dark">
          {{ "SECURE.SHOW.FORM.SAVE" | translate }}
        </button>
      </div>
    </div>
  </div>
</form>
