<app-background-section>
  <div class="header-adjustment">
    <app-call-to-action [data]="'HOME.INTRO' | translate"></app-call-to-action>
  </div>
</app-background-section>
<app-color-section>
  <h2 class="mt-4">{{ "HOME.DETAILS.title" | translate }}</h2>
  <app-paragraphs [data]="'HOME.DETAILS.text' | translate"></app-paragraphs>
</app-color-section>

<app-half-photo-section></app-half-photo-section>
<app-color-section>
  <h2>{{ "HOME.TECHNIQUES.title" | translate }}</h2>
  <app-paragraphs [data]="'HOME.TECHNIQUES.text' | translate"></app-paragraphs>

  <app-stack-category
    *ngFor="let stackCategory of 'HOME.TECHNIQUES.stack' | translate"
    [data]="stackCategory"
  ></app-stack-category>
</app-color-section>
