<div class="container">
  <div class="pricing-cards">
    <div class="row">
      <div class="col-12 col-md-12 intro">
        <h2>{{ data.title }}</h2>
        <app-paragraphs [data]="data.text"></app-paragraphs>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4" *ngFor="let card of data.cards">
        <div class="pricing-card d-flex flex-column">
          <div class="d-flex flex-column content">
            <div class="d-flex align-items-center mb-3">
              <app-icon [type]="IconType.PERSONAL"></app-icon>
              <h4 class="title ms-2">{{ card.title }}</h4>
            </div>

            <div class="price mb-3">
              <div class="amount">{{ card.price }}</div>
              <div class="frequency">/Month</div>
            </div>

            <div>
              <ul>
                <li *ngFor="let usp of card.usps">{{ usp }}</li>
              </ul>
            </div>
          </div>
          <div role="button" class="button" (click)="buttonClick.emit()">
            wachtlijst
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
