@import "/src//mixins.scss";

.half-photo-section {
  padding: 20px 0;
  width: 100%;
  background: rgb(2, 0, 36);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  @include media-breakpoint-up(sm) {
    padding: 150px 0;
  }
}
