@import "/src//mixins.scss";

.call-to-action {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px 15px 20px 15px;
  margin: 0 10px 0 10px;
  width: calc(100% - 20px);
  border-radius: 0;
  color: #f6f6f6;

  h1 {
    color: #ddd;
  }

  h2 {
    color: #addbe1;
    text-transform: uppercase;
    font-size: 14px;
  }

  p {
    font-weight: 100;
  }
}

@include media-breakpoint-up(sm) {
  .call-to-action {
    padding: 30px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 30px rgb(0 0 0 / 0.2);
    border-radius: 10px;
    width: 100%;
  }
}
