@import "/src//mixins.scss";

.color-section {
  padding: 80px 0;
  width: 100%;
  background-color: white;
  border-bottom: 2px solid black;

  @include media-breakpoint-up(sm) {
    padding: 150px 0;
  }
}
