.header {
  z-index: 2;
  transition: all 0.3s ease-in-out;
  position: fixed;
  top: 0;
  width: 100vw;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  color: white;

  a {
    color: white;
  }

  &.scrolled {
    color: black;
    background-color: rgba(255, 255, 255, 0.9);
    border-color: rgba(0, 0, 0, 0.5);
    border-width: 1px;

    a {
      color: black;
    }
  }

  .top-nav {
    height: 100px;
    padding: 30px 10px;
    display: flex;
    align-items: center;

    flex-direction: row;
    justify-content: space-between;

    .language-switch {
      height: 40px;
      width: 100px;
    }

    .navbar-logo {
      font-size: 30px;
      line-height: 30px;

      text-decoration: none;

      span {
        font-weight: 200;
      }
    }
    .option-wrapper {
      display: flex;
      align-items: center;

      .top-nav-links {
        display: flex;
        flex-direction: row;
        list-style: none;
        align-items: center;
        margin-bottom: 0;
        margin-right: 50px;

        li {
          margin-left: 15px;

          a {
            letter-spacing: 2px;
            text-decoration: none;
          }
        }
      }
    }
  }
}
