<div class="container">
  <div class="modal-content">
    <form [formGroup]="confirmationForm" (ngSubmit)="onSubmit()">
      <h2>Bevestig j</h2>
      <p>
        Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
        suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis
        autem vel eum iure reprehenderit qui in ea voluptate velit esse quam
        nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo
        voluptas nulla pariatur?"
      </p>

      <div class="code d-flex">
        <ng-container formArrayName="digits">
          <ng-container
            *ngFor="let digitForm of digits.controls; let i = index"
          >
            <ng-container [formGroup]="digitForm">
              <input
                type="text"
                maxlength="1"
                class="form-control digit-input"
                formControlName="digit"
                title="digit"
                (keyup)="onKeyDown($event)"
                (paste)="onPaste($event)" /></ng-container
          ></ng-container>
        </ng-container>
      </div>
      <div class="row mt-2">
        <div class="col-12 d-flex justify-content-end">
          <button
            type="button"
            class="btn btn-lght me-1"
            (click)="closeModal.emit()"
          >
            cancel
          </button>
          <button type="submit" class="btn btn-dark">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
