<app-background-section [gradient]="Gradient.TWO">
  <app-call-to-action
    [data]="'HOME.PRICING.INTRO' | translate"
    [view]="CallToActionView.LEFT"
    (buttonClick)="openWaitingListModal()"
  ></app-call-to-action>
</app-background-section>
<app-color-section>
  <app-snippet
    [data]="'HOME.PRICING.SNIPPET_RIGHT' | translate"
    [view]="SnippetView.RIGHT"
  ></app-snippet>
  <app-snippet
    [data]="'HOME.PRICING.SNIPPET_LEFT' | translate"
    [view]="SnippetView.LEFT"
  ></app-snippet>
</app-color-section>

<app-half-photo-section
  src="https://images.unsplash.com/photo-1505740420928-5e560c06d30e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80"
>
  <app-pricing-card
    [data]="'HOME.PRICING.PRICING' | translate"
    (buttonClick)="openWaitingListModal()"
  ></app-pricing-card>
</app-half-photo-section>
