<h1>Password lost</h1>
<form [formGroup]="form" (ngSubmit)="submitForm()">
  <div>
    <div class="row mb-2">
      <div class="col-12">
        <label for="username">username</label>
        <input
          type="text"
          formControlName="username"
          id="username"
          class="form-control"
          required
        />
      </div>
    </div>

    <div class="d-flex justify-content-end">
      <div class="d-flex flex-column">
        <button type="submit" class="btn btn-dark" [disabled]="!form.valid">
          Submit
        </button>
        <div class="align-right">
          <a href="#" type="button" [routerLink]="['..', 'sign-in']">Sign In</a>
        </div>
      </div>
    </div>
  </div>
</form>
