<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="about mb-5">
          <h3 class="mb-3">{{ "FOOTER.ABOUT.title" | translate }}</h3>
          <p>{{ "FOOTER.ABOUT.text" | translate }}</p>
        </div>
        <div class="social-media mb-5">
          <a
            [href]="facebookLink"
            target="_blank"
            *ngIf="'SOCIALMEDIA.FACEBOOK' | translate as facebookLink"
          >
            <app-icon
              [type]="IconType.FACEBOOK"
              class="facebook-icon"
            ></app-icon
          ></a>
          <a
            [href]="facebookLink"
            target="_blank"
            *ngIf="'SOCIALMEDIA.X' | translate as facebookLink"
          >
            <app-icon [type]="IconType.X" class="x-icon"></app-icon>
          </a>
          <a
            [href]="instagramLink"
            target="_blank"
            *ngIf="'SOCIALMEDIA.INSTAGRAM' | translate as instagramLink"
          >
            <app-icon
              [type]="IconType.INSTAGRAM"
              class="instagram-icon"
            ></app-icon
          ></a>
          <a
            [href]="linkedInLink"
            target="_blank"
            *ngIf="'SOCIALMEDIA.LINKEDIN' | translate as linkedInLink"
          >
            <app-icon
              [type]="IconType.LINKEDIN"
              class="linkedin-icon"
            ></app-icon>
          </a>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 offset-lg-1">
        <div class="contact mb-5">
          <h3>{{ "FOOTER.CONTACT.title" | translate }}</h3>
          <a href="mailto:{{ 'FOOTER.CONTACT.email' | translate }}">
            {{ "FOOTER.CONTACT.email" | translate }}</a
          ><br />
          <a href="https:://www.netscast.net">
            {{ "FOOTER.CONTACT.website" | translate }}</a
          ><br /><br />
          <address>
            {{ "FOOTER.CONTACT.name" | translate }}<br />
            {{ "FOOTER.CONTACT.address" | translate }}<br />
            {{ "FOOTER.CONTACT.zipcode" | translate }}
            {{ "FOOTER.CONTACT.place" | translate }}<br />
          </address>
          <!-- <div class="map-wrapper">
            <app-map *ngIf="isBrowser"></app-map>
          </div> -->
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3 offset-lg-1">
        <h3>{{ "FOOTER.NAVIGATION.title" | translate }}<br /></h3>
        <ul>
          <li>
            <span (click)="navigate(['/'])">
              {{ "MENU.HOME" | translate }}
            </span>
          </li>
          <li>
            <span (click)="navigate(['pricing'])">{{
              "MENU.PRICING" | translate
            }}</span>
          </li>
          <li>
            <span (click)="navigate(['about'])">
              {{ "MENU.ABOUT" | translate }}
            </span>
          </li>
          <li>
            <span (click)="navigate(['contact'])">
              {{ "MENU.CONTACT" | translate }}
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
