.keyword-input-wrapper {
  display: flex;
  flex-direction: row;
}

.pill {
  background-color: #838282;
  border-radius: 15px;
  height: 30px;
  color: white;
  display: inline-block;
  padding: 2px 20px 0 20px;
  margin-right: 4px;
  margin-bottom: 4px;
}
