<div class="modal-content">
  <h2>{{ "WAITINGLIST.FORM.title" | translate }}</h2>
  <p>
    {{ "WAITINGLIST.FORM.text" | translate }}
  </p>
</div>
<form [formGroup]="waitingListForm" (ngSubmit)="onSubmitForm()">
  <div class="row">
    <div class="col-12 mb-2">
      <label for="first-name">{{ "FORM.FIRSTNAME" | translate }}</label>
      <input
        class="form-control"
        id="first-name"
        type="text"
        formControlName="firstName"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-2">
      <label for="last-name"> {{ "FORM.LASTNAME" | translate }}</label>
      <input
        class="form-control"
        id="last-name"
        type="text"
        formControlName="lastName"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-2">
      <label for="email">{{ "FORM.EMAILADDRESS" | translate }}</label>
      <input
        class="form-control"
        id="email"
        type="text"
        formControlName="email"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-2">
      <input
        id="agreeTerms"
        type="checkbox"
        formControlName="agreeTerms"
        class="form-check-input"
      />
      <label class="ms-2" for="agreeTerms">{{
        "FORM.TERMS" | translate
      }}</label>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-2">
      <input
        id="agreeContactTerms"
        type="checkbox"
        formControlName="agreeContactTerms"
        class="form-check-input"
      />
      <label class="ms-2" for="agreeContactTerms">
        {{ "FORM.CONTACTTERMS" | translate }}</label
      >
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-12 d-flex justify-content-end">
      <button
        type="button"
        class="btn btn-lght me-1"
        (click)="closeModal.emit()"
      >
        cancel
      </button>
      <button type="submit" class="btn btn-dark">Submit</button>
    </div>
  </div>
</form>
