<div class="container episode">
  <div class="row" *ngIf="data">
    <div class="col-3 d-flex justify-content-end">
      <div class="image-wrapper">
        <img [src]="image" alt="" class="image" />
      </div>
    </div>
    <div class="col-9">
      <div class="d-flex">
        <h1>S{{ data.season }}E{{ data.episode }} - {{ data.title }}</h1>
        <app-play-button-view
          (click)="play.emit(data)"
          [playing]="playing"
        ></app-play-button-view>
      </div>
      <p class="description">{{ data.description }}</p>
    </div>
  </div>
  <hr />
</div>
