<div
  class="upload-button"
  (appDropFile)="onFileDragged($event)"
  (click)="fileUpload.click()"
>
  <ng-container
    *ngTemplateOutlet="audioSource ? audioTemplate : uploadTemplate"
  ></ng-container>
</div>

<input
  type="file"
  title="file upload"
  class="file-input"
  (change)="onFileSelected($event)"
  accept=".wav,.mp3"
  #fileUpload
/>

<ng-template #uploadTemplate>
  <app-icon [type]="IconType.UPLOAD" [size]="IconSize.LARGE"></app-icon>
  <div>Upload image</div>
</ng-template>

<ng-template #audioTemplate>
  <div class="audio-wrapper">
    <audio controls>
      <source [src]="audioSourceUrl" />
      Your browser does not support the audio element.
    </audio>
    <app-icon [type]="IconType.DELETE"></app-icon>
  </div>
</ng-template>
