@import "/src//mixins.scss";

.gradient-1 {
  $color1: hsl(212, 41%, 45%);
  $color2: hsl(179, 60%, 45%);
  $color3: hsl(344, 14%, 46%);
  $color4: hsl(246, 77%, 45%);

  &.background-section {
    background-image: linear-gradient(to right, $color1, $color2);
  }

  &.background-section::before {
    background-image: linear-gradient(to left, $color3, $color4);
  }
}

.gradient-2 {
  $color1: hsl(95, 55%, 23%);
  $color2: hsl(179, 48%, 22%);
  $color3: hsl(171, 100%, 50%);
  $color4: hsl(0, 100%, 40%);

  &.background-section {
    background-image: linear-gradient(to right, $color1, $color2);
  }

  &.background-section::before {
    background-image: linear-gradient(to bottom, $color3, $color4);
  }
}

.gradient-3 {
  $color1: hsl(211, 100%, 50%);
  $color2: hsl(179, 100%, 30%);
  $color3: hsl(344, 100%, 50%);
  $color4: hsl(31, 100%, 40%);

  &.background-section {
    background-image: linear-gradient(to right, $color1, $color2);
  }

  &.background-section::before {
    background-image: linear-gradient(to bottom, $color3, $color4);
  }
}

.gradient-4 {
  $color1: hsl(106, 100%, 50%);
  $color2: hsl(57, 100%, 30%);
  $color3: hsl(344, 100%, 50%);
  $color4: hsl(323, 100%, 40%);

  &.background-section {
    background-image: linear-gradient(to right, $color1, $color2);
  }

  &.background-section::before {
    background-image: linear-gradient(to bottom, $color3, $color4);
  }
}

.background {
  min-height: 100vh;
  width: 100%;
  padding-bottom: 50px;
}
.header-adjustment {
  padding-top: 150px;
}

@include media-breakpoint-up(sm) {
  .background {
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 30px rgb(0 0 0 / 0.2);
    min-height: 95vh;
  }

  .background-section {
    position: relative;
    z-index: 1;
  }

  .background-section::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: opacity 10s linear;
    opacity: 0;
  }

  .background-section:hover::before {
    opacity: 1;
  }
}
