<h1>New password</h1>
<form [formGroup]="form" (ngSubmit)="submitForm()">
  <div>
    <div class="row mb-2">
      <div class="col-12">
        <label for="password">Password</label>
        <input
          type="text"
          formControlName="password"
          id="password"
          class="form-control"
          required
        />
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-12">
        <label for="passwordConfirm">Confirm password</label>
        <input
          type="text"
          formControlName="passwordConfirm"
          id="passwordConfirm"
          class="form-control"
          required
        />
      </div>
    </div>

    <div class="d-flex justify-content-end">
      <div class="d-flex flex-column">
        <button type="submit" class="btn btn-dark" [disabled]="!form.valid">
          Submit
        </button>
        <div class="align-right">
          <a href="#" type="button" [routerLink]="['/', 'auth', 'sign-up']">
            Sign Up </a
          ><br />

          <a href="#" type="button" [routerLink]="['/', 'auth', 'sign-in']">
            Sign In
          </a>
        </div>
      </div>
    </div>
  </div>
</form>
