<h1>New password</h1>
<form [formGroup]="form" (ngSubmit)="submitForm()">
  <div>
    <div class="row">
      <div class="col"><label for="password">Password</label></div>
      <div class="col">
        <input type="text" formControlName="password" id="password" required />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="passwordConfirm">Confirm password</label>
      </div>
      <div class="col">
        <input
          type="text"
          formControlName="passwordConfirm"
          id="passwordConfirm"
          required
        />
      </div>
    </div>
    <button type="submit" [disabled]="!form.valid">Submit</button>
    <br />
    <button type="button" [routerLink]="['/', 'auth', 'sign-up']">
      Sign Up
    </button>
    <br />
    <button type="button" [routerLink]="['/', 'auth', 'sign-in']">
      Sign In
    </button>
  </div>
</form>
