@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../src/mixins.scss";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.min.css";
@import "../node_modules/leaflet/dist/leaflet.css";
@import "../node_modules/primeng/resources/themes/lara-light-blue/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import "primeicons/primeicons.css";

button {
  cursor: pointer;
}

p {
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 1px;
}

textarea {
  resize: none;
}

.header-adjustment {
  padding-top: 200px;
}

.language-switch {
  .p-dropdown {
    background: rgba(255, 255, 255, 0.25);
    border-color: rgba(255, 255, 255, 0.35);

    .p-dropdown-label {
      padding: 5px 3px 8px 5px;
    }
  }
}

.ng-submitted {
  .ng-invalid {
    border-color: rgb(174, 0, 0);
  }
}

.align-right {
  text-align: right;
}

.nc-pill {
  background-color: #838282;
  border-radius: 15px;
  height: 30px;
  color: white;
  display: inline-block;
  padding: 2px 20px 0 20px;
  margin-right: 4px;
  margin-bottom: 4px;
}
