<app-background-section [gradient]="Gradient.FOUR">
  <app-call-to-action
    [data]="'HOME.CONTACT.INTRO' | translate"
    [view]="CallToActionView.LEFT"
    (buttonClick)="openContactModal()"
  ></app-call-to-action>
</app-background-section>

<app-half-photo-section src="assets/images/pictures/amsterdam.jpg">
  <app-call-to-action
    [data]="'HOME.CONTACT.PLACE' | translate"
    [view]="CallToActionView.RIGHT"
    [color]="CallToActionColor.DARK"
    (buttonClick)="openContactModal()"
  ></app-call-to-action
></app-half-photo-section>
