<div class="snippet">
  <div class="row">
    <div
      class="col-12 col-lg-6 images"
      [class.order-2]="view == SnippetView.LEFT"
    >
      <div class="d-flex images">
        <div *ngFor="let image of data.images" class="image-wrapper">
          <img [src]="image" />
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6" [class.order-1]="view == SnippetView.LEFT">
      <h3>{{ data.title }}</h3>
      <app-paragraphs [data]="data.text"></app-paragraphs>
    </div>
  </div>
</div>
